.terraform.lock.hcl
.terraform/providers/registry.terraform.io/hashicorp/azurerm/4.24.0/windows_amd64/LICENSE.txt
.terraform/providers/registry.terraform.io/hashicorp/azurerm/4.24.0/windows_amd64/terraform-provider-azurerm_v4.24.0_x5.exe
.terraform/providers/registry.terraform.io/hashicorp/random/3.7.1/windows_amd64/LICENSE.txt
.terraform/providers/registry.terraform.io/hashicorp/random/3.7.1/windows_amd64/terraform-provider-random_v3.7.1_x5.exe
tfplan
